.BunButton {
    margin: 40px 24px;
    padding: 8px;
    font-family: fantasy;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: blueviolet;
}