html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0 16px;
    background-color: #E8EEF2;
    color: #37393A;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 1200px) {
    body {
        padding: 0 320px;
    }
}

code {
    background-color: #C7D3DD;
}

input {
    width: 400px;
    height: 2.5rem;
    font-size: 2rem;
    border: 3px solid #77B6EA;
}