body {
    background-image: url(image/fluffy-cinnamon-rolls-18.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2000px;
}

.lightpurple-bg {
    background: rgb(233, 223, 240);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    height: 100px;
    background-color: rgb(233, 223, 240);
}